*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
     background-color: rgb(175, 122, 22);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 20px;
     padding: 77px  ;
}

h1{
    font-size:35px ;
    margin-bottom: 25px;
    text-align: center;

}
h2{
    margin-bottom: 20px;
    text-align: center;
    margin-top:20px ;
}

img{
    width: 90vh;
    height: 45vh;
    align-items: center;

    
}
p{
    margin-bottom: 20px;
    text-align: center;
}

.First{
    color: rgb(41, 6, 70);
}

#Your-name{
    background-color: rgb(18, 155, 114);
    border: solid 5px rgb(138, 86, 9);
    width: 500px;
    height: 40vh;
    padding: 30px;
    margin-top: 25px;
    float: right;
}

input,button{
    padding: 13px;
    font-size: 15px;
    align-content: center;
    margin-left: 32px;
    margin-top: 10px;
}